@page
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Welcome Page</title>
</head>
<body>

	<div style="text-align:center">
		<h1>Hello!</h1>
		<p>This is a very simple page.</p>
		<p>You shall open it in 0.000001 second.</p>
		<div id="progressbar"></div>
		<p>
			<button onclick="location='/home'">Open Dashboard</button>
		</p>
	</div>

	<script type="text/javascript">
		var preLoadStart = 0;
		var preLoadCount = 0;
		var preLoadError = 0;
		var preLoadFinish = 0;
		function preLoadResource(dllname) {
			preLoadCount++;
			var xh = new XMLHttpRequest();
			xh.open("GET", dllname, true);
			xh.onload = function () {
				preLoadFinish++;
				if (xh.status != 200) preLoadError++;

				console.log(preLoadFinish + "/" + preLoadCount, dllname);

				var progressbar = document.getElementById("progressbar");
				if (progressbar) {
					progressbar.style.cssText = "display:inline-block;width:300px;height:10px;;border:solid 1px gray;position:relative;"
					progressbar.innerHTML = "<span style='position:absolute;left:0;background-color:darkgreen;height:10px;width:" + (300 * preLoadFinish / preLoadCount) + "px'></span>";
				}

				if (preLoadFinish == preLoadCount) {
					var span = new Date().getTime() - preLoadStart;
					console.log("All Done In " + span + " ms , " + preLoadError + " errors");
				}
			}
			xh.send("");
		}
		function preLoadAll() {
			preLoadStart = new Date().getTime();
			var xh = new XMLHttpRequest();
			xh.open("GET", "_framework/blazor.boot.json", true);
			xh.onload = function () {
				var res = JSON.parse(xh.responseText);
				console.log(res);
				for (var p in res.resources.assembly)
					preLoadResource("_framework/_bin/" + p);
				for (var p in res.resources.runtime)
					preLoadResource("_framework/wasm/" + p);
				preLoadResource("_framework/blazor.webassembly.js");
			}
			xh.send("");
		}
		preLoadAll();
	</script>


</body>


</html>
